@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tienne&display=swap');

html {
    margin: 0px;
    height: 100%;
}

body {
    background-color: #cccccc;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#play-area {
    height: 100vh;
    background-color: #b4b8ab;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #153243;
    font-size: 2em;
}

p {
    font-family: 'Tienne', serif;
    color: #153243;
    font-size: 1.7em;
}

#title {
    padding: 20px;
}

#start {
    margin-top: 20px;
    text-align: center;
}

#highLow {
    display: none;
}

.btn {
    border-radius: 5px;
    padding: 9px 20px;
    color: #153243;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

#btnstart {
    background-color: #284b63;
    color: #b4b8ab
}

#btnhigh {
    background-color: 	#c59fc9;
}

#btnlow {
    background-color: 	#8e4a49;
}

/* Responsive layout @media queries max-width 599px; */
@media only screen and (max-width: 599px) {

}