@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tienne&display=swap');

body {
background-image: url("../images/retro_telly.png");
    background-color: #cccccc;
    height: 80%;
    width: 80%;
    display: block;
    margin: 0 auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#play-area {
    width: 1035px;
    height: 825px;
    background-color: #9d81e9;
    border-radius: 25px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
    margin-left: 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-family: 'Tienne', serif;
}

/* Responsive layout @media queries max-width 599px; */
@media only screen and (max-width: 599px) {

}